@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.mainpage{
  width: 100vw;
  
}
.mainpage-new{
  /* width: 100vw;*/
  height: 90vh; 
  background-image: url("../public/assests/img/newBackgroundHigh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  /* make the background consistent or in samge */
  /* background-attachment: fixed;  */
}

.mainpage-1{
  width: 100vw;
  height: 100vh;
  background-image: url("../public/assests/img/background.png");
  background-repeat: no-repeat;
  background-size:auto;
  
  /* make the background consistent or in samge */
  /* background-attachment: fixed;  */
}

.description{
  font-size: 12px;
}
.mainpage-i{
  width: 100vw;
  height: 100vh;
  background-image: url("../public/assests/img/background.png");
  background-repeat: no-repeat;
  background-size:cover
}

.drawer.active{
  visibility: visible;
  
}
.drawer.inactive{
  visibility: hidden;
}

body {
  color: black;
}

.hover-list {
  display: none;
}

.hover-list-btn:hover + .hover-list {
  display: block;
}

.redtext{
  color: #C02739;

}
.greentext{
  color: #29C7AC; 
}
.fade-in-image { animation: fadeIn 1s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@layer components {
  .red_btn {
    @apply rounded-full border-red-600 bg-red-600 py-5 px-5 text-white transition-all hover:bg-white hover:text-red-600  
  }
  .billbg{
    background-image: url("../public/assests/img/cart/paperlow.jpg");
    background-repeat: repeat;
    background-size:cover;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  pre{
    @apply font-mincho
  }


  .selectlink{
    font-family: 'Tensentype RuiHei GB18030';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.2em;
    @apply  text-su-green transition-all hover:bg-white hover:text-su-green font-bold
  }

  .formtext{
    color: #000;
    font-family: 'tensentype-ruihei', 'sans-serif';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3px; 
  }

 

  .greentxt{
    font-family: 'Tensentype RuiHei GB18030';
    font-style: normal;
    font-weight: 400;
    
    line-height: 50px;
    letter-spacing: 0.2em;
    @apply  text-su-green
  }

  .field{
    @apply rounded-md shadow focus:border-blue-400 bg-white 
  }
  .text{
    @apply font-mincho
  }

  

  .greensmalltxt{
    font-family: 'Tensentype RuiHei GB18030';
    font-style: normal;
    font-weight: 400;
  
    
    @apply  text-su-green
  }
  .card{
    
    @apply font-mincho aspect-video border-t-su-green border-t-2 text-black rounded-md shadow
    
  }

  .greenbg{
    @apply background-color: bg-web-green; 
  }
    
}



p{
  font-family: 'IM FELL Double Pica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;

  /* or 34px */
  letter-spacing: 0.2em;

  color: #000000;
}


